Source: fg-tstools
Section: public/misc
Priority: extra
Maintainer: Paul Munday <paulm@freegeek.org>
Uploaders: Vagrant Cascadian <vagrant@freegeek.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://tsbackup.fglan
#Vcs-Git: git://git.debian.org/collab-maint/tstools.git
Vcs-Browser: http://git.freegeek.org/?p=techsupporttools;a=summary

Package: fg-tstools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools for Free Geek Tech Support Techs
 Tools for Free Geek Tech Support Techs including ts_network_backup
