Package: tstools
Version: 0.1.13
Architecture: all
Maintainer: Paul M <paulm@freegeek.org>
Installed-Size: 113
Section: unknown
Priority: extra
Homepage: http://tsbackup.fglan
Description: Tools for Free Geek Tech Support Techs
 Tools for Free Geek Tech Support Techs including ts_network_backup
